<table>
    <tr class="header-row" >
        <th (click)="sort('name')" class="sortable">Name</th>
        <th (click)="sort('type')" class="sortable">Type</th>
        <th>Operational</th>
        <th>Orbit Type</th>
        <th>Launch Date</th>
    </tr>
    <tr class="data-row" *ngFor="let satellite of satellites">{{satellite.name}}
        <td class="warning">{{satellite.type}}</td> 
        <!-- highlight satellite type class="warning" do iput this in the satellite.type td tag? -->
        <td>{{satellie.operational}}</td> 
        <td>{{satellite.orbitType}}</td>
        <td></td>
        <td>{{satellite.launchDate}}</td>
    </tr>
</table>

<!-- TODO 2b: use *ngFor to display satellite data in the table -->
<!-- TODO 3b: add style directive to conditionally highlight satellite type -->

